<td>
  <a href="https://www.waze.com/editor?env=row&lon={{segment.lon}}&lat={{segment.lat}}&zoom={{zoom-for-segment segment.length}}&segments={{segment.id}}" target="_blank">
  <span {{action 'setTransition' preventDefault=false}}>
    {{segment.id}}
    </span>
  </a></td>
<td>{{segment.street.city.name}}</td>
<td>{{segment.street.name}}</td>
<td>{{segment.roadType.name}}</td>
<td><a href='https://www.waze.com/user/editor/{{segment.updatedBy.userName}}' target="_blank">{{segment.updatedBy.userName}}</a></td>
<td>{{lock-rank segment.lockRank}}</td>
<td>{{date-to-string segment.updatedOn}}</td>
<td class="center aligned">
  {{#if segment.fwdDirection}}
  <div class="ui image teal label">
    A -> B
    {{#if segment.fwdMaxSpeed}}
      <div class="detail">{{segment.fwdMaxSpeed}}</div>
    {{/if}}
    </div>
  {{/if}}
  {{#if segment.revDirection}}
  <div class="ui image blue label">
    B -> A
    {{#if segment.fwdMaxSpeed}}
      <div class="detail">{{segment.fwdMaxSpeed}}</div>
    {{/if}}
    </div>
  {{/if}}
</td>
<td class="center aligned">
  {{#if segment.hasTransition}}
    {{#ui-popup content=(t 'wasTransitionOnLink')}}
      <i class="external square icon" title=""></i>
    {{/ui-popup}}
  {{/if}}
</td>
<td class="center aligned">
  <i class="remove-segment minus square link icon" title="{{t 'remove'}}" {{action 'removeSegment'}}></i>
</td>