{{#link-to 'region.segments' region.id  (query-params type=type page=1) class="item" }}
  <div class="ui small {{color}} label">
    {{#if fetchAmounts.isRunning}}
      <i class="spinner loading icon"></i>
    {{else}}
      {{get amounts type}}
    {{/if}}
  </div>
  {{yield}}
  {{t (concat 'segments.' type)}}
{{/link-to}}