<div class="ui stackable fixed menu">
  <a href="#" class="item"  {{action 'toogleSidebar'}}><i class="bars icon"></i></a>
  {{#link-to 'index' class="item" }}<i class="home icon"></i>{{/link-to}}
  {{#each model.regions as |region|}}
    {{#link-to 'region' region.id classNames='item top-menu-item'}}
      {{region.name}}
    {{/link-to}}
  {{/each}}
  <div class="right menu">
    {{#link-to 'users' classNames='item' }}
      {{t 'users'}}
    {{/link-to}}  
    {{#ui-dropdown class="ui dropdown item" selected=locale onChange=(action (mut locale))}}
      <div class="default text"></div>
      <div class="menu">
        {{#each locales as |item|}}
          <div class="item" data-value="{{item}}">
            {{item}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>
</div>

<div class="pushable">
  {{sidebar-menu regions=model.regions}}
  <div class="pusher main-content">
    <div class="ui grid">
      {{outlet}}
    </div>
  </div>
</div>

